<div class="jumbotron bg-primary">
    <div class="container">
        <div class="row">
            <div class="col  text-center">
                <img class="align-middle" alt="self-Logo" src="dist/assets/angular.svg" width="150" height="150">
            </div>
            <div class="col-9">
                <h1 class="display-4">Angular + Bootstrap4</h1>
                <p class="lead">Welcome to the Bootstrap template for Angular and Asp.Net Core</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h1>Heading</h1>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
</div>