{{
    var newestBlog = it.$pages
        .filter(p => p.userData.date && p.userData.isBlog)
        .sort((a,b) => b.userData.date - a.userData.date)[0];
    newestBlog.userData["menuOrder"] = 2;
    newestBlog.userData["menuTitle"] = "Blog";
    
    var menu = it.$pages
        .filter( (p) => p.userData.menuOrder )
        .sort( (a,b) => a.userData.menuOrder - b.userData.menuOrder );

    assetPrefix = it.$config.prefix + it.$config.assets;

}}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{= it.$model.title || it.$model.menuTitle  }} - {{= it.$config.title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        {{? it.$model.lead}} <meta name="description=" content="{{=it.$model.lead}}">{{?}}
        <link rel="stylesheet" href="{{= assetPrefix }}/bootstrap.css">
        <link rel="stylesheet" href="{{= assetPrefix }}/octicons.min.css">
        <link rel="stylesheet" href="{{= assetPrefix }}/highlight/agate.css">
        <link rel="stylesheet" href="{{= assetPrefix }}/styles.css">
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-toggleable-md navbar-light">
                <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <span class="navbar-brand" href="#">
                        <svg width="30" height="30" class="octicon text-success" aria-hidden="true"><use xlink:href="{{= it.asset("/sprite.octicons.svg#gist") }}" /></svg>
                        {{= it.$config.title }}
                    </span>
                <div class="navbar-collapse collapse" id="navbarCollapse" aria-expanded="false">
                    <div class="navbar-nav mr-auto">
                        {{~menu :menuPage:i}}
                            <a class="nav-item nav-link {{? menuPage == it.$page || (menuPage.userData.menuTitle == "Blog" && it.$model.isBlog) }}active{{?}}" href="{{= menuPage.href }}">{{= menuPage.userData.menuTitle }}</a>
                        {{~}}
                        
                    </ul>
                </div>
            </nav>
        </div>

        <div>{{=it.$content}}</div>

        <footer class="bg-faded text-muted">
            <div class="container">
                {{? it.$model.disqusId }}
                {{= it.$layouts["disqus"].template({id: it.$model.disqusId, shortname: it.$config.disqusShortname}) }}
                <hr>
                {{?}}
                <div style="text-align:right;"><a href="{{=it.href("impress.html")}}">Impressum</a> - Copyright (c) {{= new Date().getFullYear() }} {{= it.$config.author }} - made with <a href="https://github.com/mode777/page-gen">page-gen</a></div>       
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    </body>
</html>