<div class="jumbotron bg-primary">
    <div class="container">
        <h1 class="display-4">{{(article | async)?.title}}</h1>
        <p class="lead">{{(article | async)?.lead}}</p>
        <p><em>{{(article | async)?.date | date}}</em> </p>
    </div>
</div>

<div class="container article-content" [innerHtml]="(article | async)?.html | async">
</div>

<div class="container" >
    <div class="display-4">Comments</div>
    <disqus [shortname]="shortname" [identifier]="(article | async)?.id"></disqus>
</div>