/* You can add global styles to this file, and also import other style files */
@import "~octicons/build/octicons.min.css";

$brand-default: #95a5a6;
$brand-primary: #2c3e50;
$brand-success: #18bc9c;
$brand-info: #3498db;
$brand-warning: #f39c12;
$brand-danger: #e74c3c;

$enable-shadows: true;
$enable-gradients: true;
$enable-rounded: false;

@import "~bootstrap/scss/bootstrap";

.jumbotron {
    a {
        color: $brand-success;
    }

    color: white;
}

footer {
    padding: 4rem 0;
    margin-top: 4rem;
}

@import "~highlight.js/styles/agate.css";

pre code {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #333;
    color: white;
}

.article-content h1 {
    display: none;
}